* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #ff4d6d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  background: white;
  font-size: 64px;
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}

#btn:active {
  transform: scale(0.95);
}
